<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Cart Page</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart Page</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Khách Hàng</th>
                        <th scope="col">Tên Sách</th>
                        <th scope="col">Ngày Mượn</th>
                        <th scope="col">Ngày Trả</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-4">
                            <input type="text" class="form-control"
                                   placeholder="Nhập tên khách hàng..."
                                   value="@ViewBag.TenKh" readonly />
                        </td>
                        <td class="py-4">@ViewBag.TenSach</td>
                        <td class="py-4">@((DateTime)ViewBag.NgayMuon)</td>
                        <td class="py-4">@((DateTime)ViewBag.NgayTra)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form method="post" asp-controller="Cart" asp-action="CreateFromCart">
            <input type="hidden" name="MaSach" value="@ViewBag.MaSach" />
            <input type="hidden" name="NgayMuon" value="@ViewBag.NgayMuon" />
            <input type="hidden" name="NgayTra" value="@ViewBag.NgayTra" />

            <button class="btn btn-primary px-4 py-2 mt-4" type="submit">
                Xác nhận mượn sách
            </button>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success mt-3">
                @ViewBag.Message
            </div>
        }

    </div>
